
@model List<Let>
@{
    if (ViewBag.TipKorisnika == 0)
        Layout = "_LayoutAdministrator";
    else
        Layout = "_LayoutAgent";

}

<h1>Letovi</h1>

<table style="border:1px solid black" id="" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Pocetna destinacija</th>
            <th>Krajnja destinacija</th>
            <th>Broj mesta</th>
            <th>Broj presedanja</th>
            <th>Datum</th>
            @if (ViewBag.TipKorisnika == 0)
            {
                <th>Deaktiviraj</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var let in Model)
        {
            if (let.BrojMesta < 5)
            {

                <tr style="background-color:yellow" id="@let.LetId">
                    <td>@let.MestoPolaska</td>
                    <td>@let.MestoDolaska</td>
                    <td>@let.BrojMesta</td>
                    <td>@let.BrojPresedanja</td>
                    <td>@let.Datum.ToShortDateString()</td>
                    @if (ViewBag.TipKorisnika == 0)
                    {
                        <td><span class="btn btn-link" id="@let.LetId" onclick="deleteFlight(this.id)">Otkazi let</span></td>
                    }
                </tr>

            }
            else
            {
                <tr id="@let.LetId">
                    <td>@let.MestoPolaska</td>
                    <td>@let.MestoDolaska</td>
                    <td>@let.BrojMesta</td>
                    <td>@let.BrojPresedanja</td>
                    <td>@let.Datum.Date.ToShortDateString()</td>
                    @if (ViewBag.TipKorisnika == 0)
                    {
                        <td><span class="btn btn-link" id="@let.LetId" onclick="deleteFlight(this.id)">Otkazi let</span></td>
                    }
                </tr>

            }
        }

    </tbody>
</table>

<script>

    function deleteFlight(id) {

        $.ajax({
            url: '@Url.ActionLink("DeleteFlight","Let")',
            data: {
                letId: id,

            },
            method: "delete",
            success: function (message) {

                alert("Izbrisan let");
            },
            error: function () {
                alert("Error!");
            }
        });
    }

</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/let.js"></script>